[Desktop Entry]
Encoding=UTF-8
Name=Link to LICENSE
Type=Link
URL=https://github.com/AyushSwar/Micronaut_GraphQL/new/main?filename=LICENSE.md
Icon=text-html
